Flask==2.2.5
flask-graphql==2.0.1
graphene==2.1.8
jsonschema==4.17.3
grpcio==1.62.1
grpcio-tools==1.62.1
xmltodict==0.13.0
spyne==2.13.15
six==1.16.0
lxml==4.9.3
requests==2.31.0
zeep==4.2.1
graphqlclient==0.2.4
gql==3.4.1
dicttoxml==1.7.16
